.App {
  text-align: center;
}


.bottom-container {
  margin-bottom: 75px;
}

.bg-image {
  background-image: url("/src/images/hard\ work.jpg");
  background-repeat: no-repeat;
  height: 150px;
}

.liner-gradient {
  background: linear-gradient(to right,#0e43ca, #9990e1);
}