/* .App {
  text-align: center;
} */


.bottom-container {
  margin-bottom: 75px;
}

.bg-image {
  background-image: url("/src/images/hard\ work.jpg");
  background-repeat: no-repeat;
  height: 150px;
}

.liner-gradient {
  background: linear-gradient(to right,#0e43ca, #9990e1);
}

.bottom-menu{
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 65px;
  background-color: white;
}

.menu-link{
  text-decoration: none;
  color:#333;
  font-size: small;
}

.no-box-shadow {
  box-shadow: none !important;
}

.custome-effects {
  /* color: #0e43ca ; */
  animation: fadet 500ms ;
}


@keyframes fadet {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}